[sourceVCS]
    autoCommit = true
    autoPush = true
[merge]
    command = "nvim"
    args ["-d"]
[data]
    [data.font]
      size = 16
      family = "FiraCode Nerd Font Mono"
      normal = "Medium"
      bold = "Bold"
      italic = "Light"
